.reviews {
    min-height: 700px;
    &__items {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        img {
            margin-right: 60px;
            height: 170px;
        }

    }
    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
    }
    &__descr {
        font-weight: 500;
        font-size: 14px;
        color: #646464;
        margin-bottom: 10px;
    }
    &__text {
        font-weight: 300;
        font-size: 16px;
        color: #0D0D0D;
        hr {
            color: #fff;
        }
    }

}